*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}
.title {
  width: 1440px;
  height: 48px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 445px;
  padding-right: 135px;
}
.title-select {
  background-color: black;
  color: white;
  border: solid 1px black;
}

.title-header {
  list-style: none;
  display: flex;
  gap: 48px;
}
.title-header li {
  display: block;
  margin-right: 20px;
  position: relative;
  cursor: pointer;
}
.title-header li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 2px;
  width: 0;
  background-color: #000;
  transition: width 0.3s ease-out;
}
.title-header li:hover::after {
  width: 100%;
}

.container {
  display: flex;
  width: 1440px;
  height: 94px;
  align-items: center;
  gap: 148px;
  justify-content: space-around;
  border-bottom: solid 1px gray;
  /* margin: 0 auto; */
}

.container-glass {
  display: flex;
}
.container-header {
  display: flex;
  align-items: center;
  gap: 190px;
}
.container-heart {
  display: flex;
  gap: 16px;
}
.container-glass-heart {
  display: flex;
  gap: 24px;
  align-items: center;
}
.container-glass-solid {
  background-color: #f5f5f5;
  padding: 7px 12px 7px 0;
}
.container-description {
  background-color: #f5f5f5;
  border: solid 0 #f5f5f5;
  padding: 7px 0 7px 20px;
}
.choose-table {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.choose-table-list {
  width: 217px;
  height: 344px;
  border-right: solid 1px #000000;
  padding-top: 40px;
}
#choose-description {
  display: flex;
  justify-content: space-around;
  /* padding-top: 40px; */
  width: 1440px;
  padding-right: 135px;
  padding-left: 135px;
}
.choose-description-img {
  width: 892px;
  height: 344px;
  padding-top: 40px;
}
#sales {
  width: 1440px;
  /* height: 493px; */
  margin: 0 auto;
}
.sales-list {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: end;
  gap: 38px;
}
.arrow {
  background-color: #f5f5f5;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales-arrow {
  display: flex;
  gap: 8px;
}
.sales-today {
  display: flex;
}
.sales-table {
  display: flex;
  align-items: end;
  justify-content: space-around;
  padding-top: 180px;
  /* gap: 430px; */
}
.sales-list-text {
  font-size: 12px;
  font-weight: 600;
}
.sales-list-time {
  font-size: 32px;
  font-weight: 700;
}
.sales-time {
  display: flex;
  align-items: flex-end;
  gap: 87px;
}

.sales-picture-vote {
  width: 100px;
  height: 20px;
}
.sales-picture-dollar {
  display: flex;
  gap: 12px;
}

.sales-picture-flash-sales {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 135px;
}
.categories {
  width: 1440px;
  margin: 0 auto;
  margin-top: 72px;
}
.browse {
  width: 1170px;
  height: 343px;
  /* display: flex; */
  border-bottom: solid 2px #000000;
  margin: auto;
  /* justify-content: space-between; */
}
.browse-arrow-LR {
  background-color: #f5f5f5;
  color: black;
  width: 46px;
  height: 46px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.browse-arrow {
  display: flex;
  gap: 8px;
}
.categories-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.browse-display {
  display: flex;
  justify-content: space-between;
}

.products {
  width: 1170px;
  height: 518px;
  margin: auto;
}
.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.products-header-button {
  background-color: red;
  padding: 16px 48px 16px 48px;
  border-radius: 4px;
  transition: all 0.8s linear;
}
.products-header-button:hover {
  background-color: green;
}
.products-coat {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.explore {
  width: 1170px;
  margin: auto;
  padding-top: 71px;
}
.explore-header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.explore-list {
  display: flex;
  gap: 30px;
}
.footer {
  width: 1440px;
  height: 440px;
  background-color: black;
  color: white;
  margin-top: 140px;
}
.footer-input {
  width: 217px;
  height: 48px;
  border: solid 1.5px white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-input-email {
  width: 130px;
  height: 24px;
  border: black;
}
.footer-border {
  width: 1170px;
  margin: auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 80px;
}
h4 {
  font-size: 24px;
  margin-bottom: 24px;
}
.footer-border-list-account {
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.footer-border-list-icon {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.footer-input-enter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  width: 1305px;
  height: 781px;
  justify-content: space-between;
  padding-top: 60px;
}
.form {
  width: 371px;
  height: 530px;
  margin-top: 125.5px;
}
.flex-button {
  padding: 16px 122px 16px 122px;
  background-color: red;
  border-radius: 4px;
  text-align: center;
}
.flex-button-Sign {
  width: 371px;
  height: 56px;
  background-color: white;
  border-radius: 4px;
  border: solid 1px #21001a;
  margin: 16px auto 32px;
}
.buttonG {
  width: 24px;
  height: 24px;
  color: red;
}
.flex-input {
  border-bottom: solid 1px #000000;
  margin: 40px auto 40px;
}
.container-New {
  width: 1170px;
  /* height: 768px; */
  margin: auto;
  height: auto;
  padding-top: 140px;
}

.new-PS5 {
  width: 570px;
  height: 600px;
  background-color: black;
  position: relative;
}
.new-PS5-img {
  width: 511px;
  height: 511px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-PS5-text {
  position: absolute;
  bottom: 75px;
  left: 45px;
  z-index: 10;
  color: white;
  width: 511px;
}
.border-women {
  width: 570px;
  height: 284px;
  position: relative;
}
.border-women-img {
  position: absolute;
}
.border-women-text {
  position: absolute;
  color: white;
  z-index: 10;
  top: 140px;
  left: 45px;
}
.border-speaker {
  width: 270px;
  height: 284px;
  background-color: black;
  position: relative;
  display: flex;
}
.border-speaker-text {
  color: white;
  position: absolute;
  top: 165px;
  left: 45px;
}
.border-speaker-img43 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.border-perfume {
  width: 270px;
  height: 284px;
  background-color: black;
  position: relative;
}
.speakers-perfume {
  display: flex;
  justify-content: space-between;
}
.women-speakers-perfume {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ps5-women-speakers-perfume {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}
.container-icon {
  margin: auto;
  padding-top: 140px;
  width: 1170px;
}
.icon-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  padding: 24px 0 8px 0;
}
.icon-text-nomarl {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
.icon-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-icon-flex {
  display: flex;
  justify-content: space-around;
}
.button-view {
  background-color: red;
  width: 234px;
  height: 56px;
  color: white;
  margin: auto;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  transition: all 0.4s linear;
}
.button-view:hover {
  opacity: 0.6;
}
.explore-row2 {
  padding: 60px;
}
.sales-button {
  background-color: black;
  font-weight: 500;
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.5s linear;
}
.sales-picture-havit {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.sales-picture {
  width: 270px;
  height: 350px;
  position: relative;
}
.sales-picture:hover .sales-button {
  opacity: 1;
}
.explore-list-arow {
  width: 270px;
  /* height: 322px; */
  border: solid 1px rgb(51, 51, 10);
  margin-top: 60px;
  position: relative;
}
.explore-button {
  background-color: black;
  font-weight: 500;
  width: 100%;
  height: 41px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0;
  transition: all 0.5s linear;
}
.explore-list-arow:hover .explore-button {
  opacity: 1;
}

.browse-list {
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.browse-phones {
  width: 170px;
  height: 145px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  border: solid 1px #000000;
  border-radius: 4px;
  transition: all 0.8s linear;
  cursor: pointer;
}
.browse-phones:hover {
  opacity: 0.6;
  background-color: green;
}
.browse-camera {
  width: 170px;
  height: 145px;
  border: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  border: solid 1px #000000;
  border-radius: 4px;
  background-color: red;
  color: black;
}
.Experience {
  list-style: none;
  display: flex;
  gap: 24px;
  text-align: center;
  padding-bottom: 40px;
}
.button-buy {
  background-color: #00ff66;
  width: 171px;
  height: 56px;
  border-radius: 4px;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
  transition: all 0.8s linear;
  cursor: pointer;
}
.experience-block {
  padding-top: 138px;
  width: 1140px;
  margin: auto;
  position: relative;
}
.experience-text {
  position: absolute;
  top: 65%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
}
.experience-img {
  background-color: black;
  width: 1170px;
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 545px;
}
.experience-list {
  border-radius: 100%;
  background-color: white;
  width: 62px;
  height: 62px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 600;
}
.button-buy:hover {
  opacity: 0.5;
  background-color: red;
}
.list-option-flex {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 20px;
  padding-top: 18px;
}
.list-option {
  width: 224px;
  height: 208px;
  background-color: #d8afc2;
  border-radius: 4px;
  color: white;
  /* position: absolute;
  top: 45%;
  left: 80%;
  transform: translate(-50%, -50%); */
  display: none;
  /* z-index: 10; */
  transition: all 0.8s linear;
  /* opacity: 0; */
}

.list-option.active {
  display: block;
  width: 400px;
}

.list-option-flex-center {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-left: 20px;
  padding-top: 5px;
  /* position: absolute; */
}
.container-header-1 {
  width: 1440px;
  margin: 0 auto;
  position: relative;
  /* display: none; */
}
i:hover {
  cursor: pointer;
}
